.wrap-content {
  padding: 5rem 0 0;
}
.layoutDrawer{
  display: flex;
  &__nav{
    width: $width-sidebar;
    height: 100vh;
    z-index: 1038;
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    background-color: $gray-100;
    border-right: 1px solid $gray-200;
    flex-shrink: 0;
  }
  &__content{
    padding-left: $width-sidebar;
    top: 5rem;
    bottom: 4.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 4.5rem);
  }
  @include max-991{
    &_nav{
      width: $width-sidebar-mobile;
    }
    &_content{
      padding-left: $width-sidebar-mobile;
    }
  }
}